{% extends 'ToDoApp/base.html' %}

{% block nav-pills %}
<nav class="nav nav-pills nav-fill">
  <a href="{% url 'ToDoApp:home' %}" class="nav-item nav-link btn-success">Home</a>
  <a href="{% url 'ToDoApp:logout' %}" class="nav-item nav-link btn-danger">Logout</a>
</nav>
{% endblock %}

{% block body %}
  <div id="formdiv">
    {% if form %}
      <form method='POST'>
          {% csrf_token %}
          <div class="form-group">
            {{ form }}
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-primary" href="{% url 'ToDoApp:password_reset' %}">Reset Pass</a>
      </form>
    {% endif %}
  </div>
{% endblock %}
