{% extends 'ToDoApp/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block nav-pills %}
  <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="#">About</a>
  </nav>
{% endblock %}

{% block body %}
  <div id="formdiv">
    {% if form %}
      <form method="POST">
        {% csrf_token %}
        <!-- {% for f in form %}
          <div class="form-group styleform">
            <label for="{{ f.id_for_label }}">{{ f.html_name }}</label>
            {{ f }}
          </div>
        {% endfor %} -->
        <!-- <div class="form-group">
          <label for="usernameinput">Username</label>
          <input type="text" name='username' autofocus maxlength="254" required class="form-control" id="usernameinput" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="passwordinput">Password</label>
          <input type="password" name='password' required class="form-control" id="passwordinput" placeholder="Password">
        </div> -->
        <div class="form-group">
          {{ form }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
